---
import Image from '@/components/Image.astro'
import Link from '@/components/Link.astro'
import Base from '@/layouts/Base.astro'
import { sortPostsByDate } from '@/lib/date'
import { getCollection } from 'astro:content'

export const getStaticPaths = async () => {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const {
  post,
  post: {
    data: { title, desc, date },
  },
} = Astro.props
const { Content } = await post.render()

const posts = sortPostsByDate(await getCollection('blog'))
const currentIndex = posts.findIndex(p => p.data.title === title)
const prevPost = posts[currentIndex + 1]
const nextPost = posts[currentIndex - 1]

export const components = {
  a: Link,
  img: Image,
}
---

<Base {title}>
  <main class='grow py-10 prose md'>
    <div class='flex flex-col'>
      <h1 class='mb-1'>{title}</h1>
      <small class='text-gray-600 dark:text-gray-500'
        >{date.toLocaleDateString()}</small
      >
    </div>

    <div class='flex flex-col gap-4'>
      <Content components={components} />
    </div>

    <hr />

    <div class='flex flex-nowrap items-stretch justify-between mb-10'>
      <div class='self-start'>
        {
          prevPost && (
            <Link lg href={prevPost.slug} class='flex flex-col' noUnderline>
              <small class='text-gray-600 dark:text-gray-500'>Previous</small>
              <small>{prevPost.data.title}</small>
            </Link>
          )
        }
      </div>

      <div class='self-end'>
        {
          nextPost && (
            <Link lg href={nextPost.slug} class='flex flex-col' noUnderline>
              <small class='text-gray-600 dark:text-gray-500 self-end'>
                Next
              </small>
              <small>{nextPost.data.title}</small>
            </Link>
          )
        }
      </div>
    </div>
  </main>
</Base>
