---
import Link from '@/components/Link.astro'
import NoteList from '@/components/NoteList.astro'
import Post from '@/components/Post.astro'
import Project from '@/components/Project.astro'
import Social from '@/components/Social.astro'
import Base from '@/layouts/Base.astro'
import { sortPostsByDate } from '@/lib/date'
import { getProjects } from '@/lib/projects'
import { getSocials } from '@/lib/socials'
import { getCollection } from 'astro:content'

const title = 'asnine • home'
const socials = await getSocials()
const projects = await getProjects()
const posts = sortPostsByDate(
  await getCollection('blog', ({ data }) => data.draft !== true)
).slice(0, 4)
---

<Base {title} description='My personal site and blog'>
  <main class='py-4 mb-10 grow md:py-8 prose'>
    <h1>asnine</h1>
    <div class='flex mt-10 gap-8'>
      <div>
        <p>
          Hey, I'm Ashraf aka <strong>asnine</strong>. I'm an aspiring developer
          and recent SE grad, continously looking to hone my craft by building
          out <em>simple</em>, <em>functional</em> and <em>elegant</em> applications.
        </p>
        <p class='mt-6'>
          My passion ties towards creating services that can bring forward <em
            >transformative</em
          > changes to society, where the emergence of touch-based devices fascinated
          me as a kid.
        </p>
        <p class='mt-6'>
          I love exploring the latest and greatest in the tech sphere, where I
          value high-quality products that are <em>utilitarian</em> in nature, but
          also incorporate a <em>sleek</em> aesthetic.
        </p>
      </div>
      <div>
        <small class='text-gray-600 dark:text-gray-400'>Links</small>
        <ul class='flex flex-col mt-2 gap-3'>
          {
            socials.map(s => (
              <li class='list-none'>
                <Social name={s.name} link={s.link} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class='mt-12'></div>
    <small class='text-gray-600 dark:text-gray-400'>Projects</small>
    <ul class='mt-2'>
      {
        projects.map(p => (
          <li class='list-none'>
            <Project link={p.link} repo={p.repo} desc={p.desc} year={p.year} />
          </li>
        ))
      }
    </ul>

    <div class='mt-12'></div>
    <div class='flex items-center justify-between'>
      <small class='text-gray-600 dark:text-gray-400'>Blog</small>
      <Link lg href='/blog'><small>View all</small></Link>
    </div>
    <ul>
      {
        posts.map(p => (
          <li class='list-none'>
            <Post
              slug={p.slug}
              title={p.data.title}
              desc={p.data.desc}
              date={p.data.date}
            />
          </li>
        ))
      }
    </ul>

    <div class='mt-12'></div>
    <div class='flex items-center justify-between'>
      <small class='text-gray-600 dark:text-gray-400'>Notepad</small>
      <Link lg href='/notepad'><small>View all</small></Link>
    </div>
    <NoteList class='mt-2' />
  </main>
</Base>
