---
import { AstroFont } from 'astro-font'
import { ViewTransitions, fade } from 'astro:transitions'
import { join } from 'node:path'

const { title, description } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!-- global metadata -->
<meta charset='utf-8' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />

<!-- canonical url -->
<link rel='canonical' href={canonicalURL} />

<!-- font preloads -->
<AstroFont
  config={[
    {
      name: 'Commit Mono',
      src: [
        {
          style: 'normal',
          weight: '450',
          path: join(process.cwd(), 'public', 'fonts', 'CommitMono.woff2'),
        },
      ],
      preload: true,
      display: 'swap',
      fallback: 'monospace',
    },
    {
      name: 'Newsreader',
      src: [
        {
          style: 'normal',
          weight: '400',
          path: join(
            process.cwd(),
            'public',
            'fonts',
            'Newsreader-Regular.woff2'
          ),
        },
        {
          style: 'italic',
          weight: '400 600',
          path: join(
            process.cwd(),
            'public',
            'fonts',
            'Newsreader-Italic.woff2'
          ),
        },
      ],
      preload: true,
      display: 'swap',
      fallback: 'serif',
    },
  ]}
/>

<!-- primary meta tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- open graph -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<!-- <meta property='og:image' content={image} /> -->

<!-- twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<!-- <meta property='twitter:image' content={image} /> -->

<!-- sitemap -->
<link rel='sitemap' href={new URL('/sitemap-index.xml', Astro.site)} />

<ViewTransitions transition:animate={fade({ duration: '0.2s' })} />
