---
import { getProjects } from '@lib/projects'
import { twMerge } from 'tailwind-merge'
import Project from './Project.astro'

const { class: className, ...props } = Astro.props

const projects = await getProjects()
---

<ul class={twMerge(Astro.props.class)} {...props}>
  {
    projects.map(p => (
      <li class='list-none'>
        <Project link={p.link} repo={p.repo} desc={p.desc} year={p.year} />
      </li>
    ))
  }
</ul>
