---
import Link from './Link.astro'

const { url, name, desc, year } = Astro.props
---

<Link
  lg
  href={url}
  class='flex items-center justify-between gap-3 transition-all duration-300 hover:opacity-45'
  noUnderline
  label={`Open ${name} project url`}
>
  <span class='font-medium'>{name}</span>
  <span class='-ml-2 hidden text-sec sm:flex'>{desc}</span>
  <div class='grow border-b border-dotted border-bor'></div>
  <time class='text-xs text-sec'>{year}</time>
</Link>
