---
import { getProjects } from '@lib/projects'
import { cn } from '@lib/utils'
import Project from './Project.astro'

const { class: className, ...props } = Astro.props

const projects = await getProjects()
---

<ul class={cn(Astro.props.class)} {...props}>
  {
    projects.map(p => (
      <li class='list-none'>
        <Project url={p.url} name={p.name} desc={p.desc} year={p.year} />
      </li>
    ))
  }
</ul>
