---
import Link from './Link.astro'

const { link, repo, desc, year } = Astro.props
---

<Link
  href={link}
  class='p-3 flex flex-row gap-4 justify-between items-center'
  noUnderline
>
  <h2 class='text-gray-800 dark:text-gray-300 font-medium'>
    {repo}
    <span class='text-gray-500 dark:text-gray-400 font-normal'>{desc}</span>
  </h2>
  <!-- <h2 class='text-gray-600 dark:text-gray-500'>{desc}</h2> -->
  <div class='grow border-b border-gray-200 dark:border-gray-700'></div>
  <h2 class='text-gray-400 dark:text-gray-300'>{year}</h2>
</Link>
