---
import Link from './Link.astro'

const { link, repo, desc, year } = Astro.props
---

<Link
  xl
  href={link}
  class='flex items-center justify-between gap-3 hover:opacity-45 transition-all duration-300'
  noUnderline
  label={`Open ${repo} project link`}
>
  <span class='font-semibold text-neutral-800 dark:text-neutral-300'>
    {repo}
  </span>
  <span
    class='-ml-2 hidden font-normal text-neutral-600 dark:text-neutral-400 md:flex'
    >{desc}</span
  >
  <div class='border-b border-neutral-300 grow dark:border-neutral-700'></div>
  <time class='text-xs text-neutral-600 dark:text-neutral-400'>{year}</time>
</Link>
