---
import Link from './Link.astro'

const { link, repo, desc, year } = Astro.props
---

<Link
  alternate
  xl
  href={link}
  class='flex flex-row items-center justify-between gap-4'
  noUnderline
  label={`Open ${repo} project link`}
>
  <span class='font-semibold text-gray-800 dark:text-gray-300'>
    {repo}
    <span
      class='hidden font-normal text-gray-600 dark:text-gray-400 md:inline-block'
      >{desc}</span
    >
  </span>
  <div class='border-b border-gray-300 grow dark:border-gray-700'></div>
  <span class='text-gray-600 dark:text-gray-400'>{year}</span>
</Link>
