---
import Link from './Link.astro'

const { link, repo, desc, year } = Astro.props
---

<Link
  xl
  href={link}
  class='flex items-center justify-between gap-3 hover:opacity-45 transition-all duration-300'
  noUnderline
  label={`Open ${repo} project link`}
>
  <span class='font-semibold'>{repo}</span>
  <span class='-ml-2 hidden text-l/sec dark:text-d/sec md:flex'>{desc}</span>
  <div class='grow border-b border-dotted border-l/bor dark:border-d/bor'></div>
  <time class='text-xs text-l/sec dark:text-d/sec'>{year}</time>
</Link>
